/*Uses the universal tag to apply ccs properties to the whole page. This block of code specifies 
the box sizing, padding, and margin of the page*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* Sets the background color in body*/
body {
    background-color: #d9dcd6;
}

/*Applies CSS properties to the header. The code below continues on 
to define CSS properties of the header's children elements.*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    font-size: 48px;
}

header h1 .seo {
    color: #d9dcd6;
}

header section {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

header section ul {
    list-style-type: none;
}

header section ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Sets color and text decoration for all a elements*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Sets font-size for all p elements*/
p {
    font-size: 16px;
}

/*Applies CSS rules HTML elements of class hero. In this case an empty 
section element is used to display a background image under the header and above the main*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Sets CSS rules for elements of class content*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/*Applies CSS using class selector for individual sections in content div*/
.content-cards{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.content-cards h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

.content-cards img {
    max-height: 200px;
}

/*Applies spacing rules for images in content div*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/*Sets CSS properties for benefits div*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/*Applies CSS using class selector for individual sections in benefits div*/
.benefits-type {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits-type h3 {
    margin-bottom: 10px;
    text-align: center;
}

.benefits-type img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*Sets padding, spacing rules(clear), font family, and text alignment for footer element */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/*Sets font size for h4 element in footer*/
footer h4 {
    font-size: 20px;
}